.remaining-2 {
  color: oklch(25.8% 0.092 26.042);
  background: oklch(70.4% 0.191 22.216);
}

.in-progress-2 {
  color: oklch(44.4% 0.177 26.899);
  background: oklch(88.5% 0.062 18.334);
}

.remaining-3 {
  color: oklch(30.2% 0.056 229.695);
  background: oklch(78.9% 0.154 211.53);
}

.in-progress-3 {
  color: oklch(45% 0.085 224.283);
  background: oklch(91.7% 0.08 205.041);
}

.remaining-4 {
  color: oklch(28.6% 0.066 53.813);
  background: oklch(85.2% 0.199 91.936);
}

.in-progress-4 {
  color: oklch(47.6% 0.114 61.907);
  background: oklch(94.5% 0.129 101.54);
}

.remaining-5 {
  color: oklch(14.5% 0 0);
  background: oklch(70.8% 0 0);
}

.in-progress-5 {
  color: oklch(26.8% 0.007 34.298);
  background: oklch(92.2% 0 0);
}

.remaining-6 {
  color: oklch(26.6% 0.065 152.934);
  background: oklch(79.2% 0.209 151.711);
}

.in-progress-6 {
  color: oklch(44.8% 0.119 151.328);
  background: oklch(92.5% 0.084 155.995);
}

.remaining-7 {
  color: oklch(28.3% 0.141 291.089);
  background: oklch(70.2% 0.183 293.541);
}

.in-progress-7 {
  color: oklch(43.2% 0.232 292.759);
  background: oklch(89.4% 0.057 293.283);
}

